<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><%= product.name %></div>
        </div>
        <div class="panel-body">
          <p><%= product.description %></p>
        </div>
        <div class="panel-footer">$ <%= product.price %></div>
        <% if user_signed_in? %>
          <%= link_to "Add", list_items_path(cart: current_user.cart.id, product: product), method: :post %>
        <% else %>
          <%= link_to "Add", new_user_session_path %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
